@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
  --font:'Raleway', sans-serif;
  --red: #820000;
  --darkgrey: rgb(050, 050, 050);
  --white: whitesmoke;
  --black: #111111;
  --grey: rgb(065, 062, 062);
  --current: #660000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

header{
  position:absolute;
  background-color: var(--red);
  width: 100%;
  font-family: var(--font);
  font-weight:thin;
  left:0;
  animation:ease-in 0s;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
  position:absolute;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color:var(--grey);
  width:100%;
  margin-top:65px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}


.nav-menu {
  display:grid;
  grid-template-columns:repeat(7, 14.28vw);
  align-items: center;
  text-align:center;
  width:100%;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color:var(--white);
}

.nav-link:hover{
  color: var(--red);
}

.title {
  position:absolute;
  background-color: var(--red);
  color: var(--black);
  column-count:auto;
  font-family:var(--font);
  font-weight:400;
  font-size: 40px;
  text-align: left;
  width:100%;
  left:0;
  height:50px;
  z-index:2;
}
#subcaption{
  position:absolute;
  color: var(--black);
  column-count:auto;
  background-color:var(--red);
  font-size: 13px;
  text-align: left;
  width:100%;
  height:18px;
  z-index:2;
}

h2 {
    color: var(--white);
    text-decoration: none;
    min-width: 100%;
}

.standard-text {
  font-family: var(--font);
  color: var(--white);
  text-decoration: none;
  text-align:justify;
  margin-top: 10px;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;

}

body{
    background-color: var(--darkgrey);
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.perf-list{
  padding-top: 110px;
  color: var(--white);
  font-family:var(--font);
  font-size: 36px;
  font-weight:400;
  padding-left:10px;
  padding-bottom:15px;
}

.headshots{
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-gap: 1vw;
  margin-left:3vw;
  margin-right:3vw;
  margin-top:20vh;
  padding: 0;
}
#headshot-img{
  display:auto;
  max-width: 100%;
  height: auto;
  margin:auto;
  transition: opacity 0.2s ease-in-out;
  opacity: 35%;
  border-radius:5px;
  Z-index:0;
}

#headshot-img:hover{
  opacity: 100%;
  transition: opacity 0.4s ease-in-out;
}

.home-image{
  display:auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20vh;
  width: 90%;
  text-align: center;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  z-index:-1;
}

@media only screen and (max-width: 768px) {
  .navbar{
      margin-top:-64px;
      left:0;
  }
  
      .nav-menu {
          position: fixed;
          left:0;
          top: -464px;
          flex-direction: column;
          grid-template-columns:repeat(1, 30fr);
          border-radius: 0 0 20px 20px;
          background-color: var(--grey);
          width: 100%;
          text-align: center;
          transition: 1s;
          z-index:1;
      }
      
      .nav-menu.active {
          position:fixed;
          left:0;
          top:64px;
          z-index:1;        
      }
      
      .nav-item {
          margin: 2.5rem;
          left:0;
      }
      
  
      .hamburger {
          position:fixed;
          top: 20px;
          right: 20px;
          display: block;
          cursor: pointer;
          z-index:3;
      }
  
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }
  
      .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
      }
  
      .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
      }
  
  }
  
}



@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

a:link{
    color:var(--white);
    text-decoration: none;
    text-decoration-color: none;
}

a:visited{
    color:var(--white);
    text-decoration: none;
    text-decoration-color: none;
}

p{
    color:var(--white);
    font-family:var(--font);
}

footer{
    color:var(--white);
    font-family:var(--font);
    text-align: center;
    margin-top: 75px;
}

.events{
    color: var(--white);
    font-size: auto;
    font-family:var(--font);
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    grid-template-columns: repeat(2 1fr);
    gap: 12px;
    margin-top: 20px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    
}
  #when {
    color:var(--white);
    border-bottom:1px solid var(--white);
    font-size:25px;
    grid-column: 1;
    grid-row: 1;
  }
  #group {
    color:var(--white);
    font-size:25px;
    border-bottom:1px solid var(--white);
    grid-column: 2;
    grid-row: 1;
  }
  #where {
    color:var(--white);
    font-size:25px;
    border-bottom:1px solid var(--white);
    grid-column: 3;
    grid-row: 1;
  }
  #tickets{
    color:var(--white);
    border-bottom:1px solid var(--white);
    font-size:25px;
      grid-column: 4;
      grid-row: 1;
  }
  #when-one {
    grid-column: 1;
    grid-row: 2;    
  }
  #group-one {
    grid-column: 2;
    grid-row: 2;
  }
  #where-one {
    grid-column: 3;
    grid-row: 2;
  }
  #info-one {
    grid-column: 4;
    grid-row: 2;      
  }
  #when-two {
    grid-column: 1;
    grid-row: 3;
  }
  #group-two {
    grid-column: 2;
    grid-row: 3;
  }
  #where-two {
    grid-column: 3;
    grid-row: 3;
  }
  #info-two {
    grid-column: 4;
    grid-row: 3;      
  }
.footer{
  position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
}
#description{
  color:var(--white);
    font-family:var(--font);
}

#survey-form{
  color:var(--white);
  font-family:var(--font);
  display:grid;
  grid-template-columns:repeat(2, 1fr);
}
.form-group{
  color:var(--white);
  font-family:var(--font);
  margin: 25px auto 1fr auto;
  padding:0.25rem;
}
#form-button{
  color:var(--white);
    font-family:var(--font);
}


::placeholder{
  font-family:var(--font);
  color:var(--grey);
  font-style:italic;
}
#dropdown{
  font-family:var(--font);
  color:var(--black);
  font-size:16px;
  font-style:bolder;
}
.form-control{
  display:block;
  border-radius: .25rem;
  border-width: 0px 1px 1px 0px;
  border-color:black;
}
#form-button{
  color:var(--white);
  background: var(--grey);
  border-radius: .5rem;
}
#form-button:hover{
  color:var(--red);
  background:black;
}
.big-heading{
  position:justify;
  color:var(--white);
  font-family:var(--font);
  font-weight: 400;
  margin-left: 10px;
  font-size:25px;
  padding-top:40px;
}
.list-head{
  font-family:var(--font);
  font-size:12px;
  color:var(--white);
  font-weight:bold;
  text-align:justify;
  margin-left:20px;
}
.paragraph{
  font-family:var(--font);
  color:var(--white);
  font-size:12px;
  text-align:justify;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top:10px;
}

.list{
  font-family:var(--font);
  color:var(--white);
  font-weight:normal;
  margin-left:5%;
  text-align:justify;
  margin-left:20px;
  margin-top:10px;
}

figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    float: right;
    min-width:40%;
    max-width:400px;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 1em;
    padding: 1em;
    background: var(--black);
  }
#bio-img{
  display:block;
  min-width: 50%;
  max-width: 39vw;  
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#img-caption{
  font-family:var(--font);
  color:var(--white);
  font-weight:normal;
  margin-top: 5px;
  text-align:center;
  margin-left: 0%;
  margin-right: 0%;
}
.thanks{
  font-family:var(--font);
  color: var(--white);
  display:block;
  font-size:20px;
  font-weight:200;
  text-align:justify;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:125px;
}
.email{
  font-family:var(--font);
  color:var(--white);
  display:block;
  font-size:20px;
  font-weight:200;
  text-align:justify;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:20px;
}
.email:hover{
  font-family:var(--font);
  color:var(--red);
  transition: 0.1s ease-in-out;
}

iframe{
  margin-left: 20vw;
  margin-right:20vw;
}

button{
  font-family: var(--font);
  text-align: center;
  display:inline-block;
  background-color: var(--black);
  color:var(--white);
  border: 1px solid var(--black);
  font-size: 18px;
  padding: 10px;
  margin-top:2px;
  height: 50px;
  text-decoration: none;
  font-weight:200;
  transition: width 1s ease-in-out;
  z-index:1;
}  
    
button:hover{
    background-color:#820000;
    border: 1px solid var(--grey);
    cursor: pointer;
    border-style:solid;
    transition: 0.2s ease-in-out;
    z-index:1;
}
fieldset{
  width:90%;
  margin-left:5%;
  margin-right:5%;
  border:none;
}