@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
  --font:'Raleway', sans-serif;
  --white: #fffcf2;
  --grey: #ccc5b9;
  --red: #e5383b;
  --darkgrey: #403d39;
  --black: #252422ef;
  --darkred: #820000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--font);
  scroll-behavior: smooth;
}

.header{
  position:absolute;
  animation:none !important;
  top:0;
  background-color: var(--red);
  width: 100%;
  font-family: var(--font);
  font-weight:thin;
  left:0;
  height: 60px;
  z-index:3;
}

li {
  color:var(--white);
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  position:absolute;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color:var(--darkgrey);
  width:100%;
  height:45px;
  margin-top:65px;
}

.navbar-index {
  position:absolute;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color:var(--darkgrey);
  width:100%;
  animation: foldIn 1s forwards;
  animation-iteration-count: 1;
  animation-delay:1s;
}

@keyframes foldIn {
  0% {
    margin-top:0px;
    transform:rotate3d(0deg, 180deg, 180deg);
    transform:scale3d(1, 0.1, 0.1);
    height:5px;
  }
  100% {
    margin-top:65px;
    height:45px;
  }
}

.hamburger {
  display: none;
  position:absolute;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}


.nav-menu {
  display:-ms-grid;
  display:grid;
  grid-template-columns:repeat(7, auto);
  align-items: center;
  text-align:center;
  width:100%;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color:var(--white);
}

.nav-link:hover{
  color: var(--red);
  transition: 0.2s ease-in-out;
}

.title {
  position:absolute;
  background-color: var(--red);
  color: var(--black);
  column-count:auto;
  font-family:var(--font);
  font-weight:400;
  font-size: 40px;
  text-align: left;
  width:100%;
  left:0;
  height:50px;
  z-index:2;
  text-indent:10px;
  animation:none;
}
#subcaption{
  position:absolute;
  color: var(--black);
  column-count:auto;
  background-color:var(--red);
  font-size: 14px;
  font-weight:300;
  text-align: left;
  width:100%;
  height:18px;
  z-index:2;
  animation:none;
}

h2 {
  color: var(--white);
  text-decoration: none;
  min-width: 100%;
}

.standard-text {
  font-family: var(--font);
  color: var(--white);
  text-decoration: none;
  text-align:justify;
  margin-top: 10px;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

body{
  background-color: var(--black);
  animation: fadeIn ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.perf-list{
  padding-top: 110px;
  color: var(--white);
  font-family:var(--font);
  font-size: 36px;
  font-weight:400;
  padding-left:10px;
  padding-bottom:15px;
}

.headshots{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-gap: 1vw;
  margin-left:3vw;
  margin-right:3vw;
  margin-top:20vh;
  padding: 0;
}

.headshot-img{
  display:auto;
  max-width: 100%;
  height: auto;
  margin:auto;
  transition: opacity 1s ease-in-out;
  opacity: 35%;
  border-radius:5px;
  Z-index:0;
}

.headshot-img:hover{
  opacity: 100%;
  transition: opacity 1s ease-out;
  z-index:3;
}

.home-image{
  display:auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20vh;
  width: 90%;
  text-align: center;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  animation: fadeIn 5s;
  z-index:-1;
}

@media only screen and (max-width: 768px) {
  .header{
    position:fixed;
    z-index:2;
  }

  #subcaption{
    position:absolute;
    border-radius:0 0 10px 0;
  }
  
  .navbar{
      margin-top:-100px;
      left:0;
  }
  
  .navbar-index{
    margin-top:-100px;
    left:0;
    animation:none;
  }
  
  .nav-menu {
    position: fixed;
    left:0;
    top: -150%;
    flex-direction: column;
    grid-template-columns:repeat(1, 30fr);
    border-radius: 0 0 20px 20px;
    background-color: var(--darkgrey);
    width: 100%;
    text-align: center;
    transition: 1s;
    z-index:-1;
  }   
  
  .nav-menu.active {
    position:fixed;
    left:0;
    top:64px;
    z-index:1;        
  }   
  
  .nav-item {
     margin: 2.5rem;
     left:0;
  } 
  
  .hamburger {
    position:fixed;
    z-index:3;
    top: 20px;
    right: 20px;
    display: block;
    cursor: pointer;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

a:link{
    color:var(--white);
    text-decoration: none;
    text-decoration-color: none;
}

a:visited{
    color:var(--white);
    text-decoration: none;
    text-decoration-color: none;
}

p{
    color:var(--white);
    font-family:var(--font);
}

footer{
  position:relative;
  display:block;
  padding-top:50px;
  margin-bottom: 5px;
  margin-left:auto;
  margin-right:auto;
  color:var(--white);
  font-family:var(--font);
  text-align: center;
}

.events{
  display:-ms-grid;
  display:grid;
  color: var(--white);
  font-size: auto;
  font-family:var(--font);
  grid-template-columns:repeat(4,auto);
  grid-template-rows:auto;
  gap: 12px;
  margin-top: 20px;
  max-width:800px;
  min-width:75%;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
}

.heading {
  color:var(--white);
  border-bottom:1px solid var(--white);
  font-size:25px;
  font-style: italic;
  font-weight:200;
}

.info{
  font-size:15px;
  font-weight:200;
  }

#description{
  color:var(--white);
  font-family:var(--font);
  font-size:14px;
  padding-bottom: 20px;
  text-align:center;
}
.survey-block{
  padding-top:125px;
  width:100%;
}

#survey-form{
  display:-ms-grid;
  display:grid;
  grid-template-columns:repeat(2, auto);
  color:var(--white);
  font-family:var(--font);
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
}
.form-group{
  color:var(--white);
  font-family:var(--font);
  font-size:14px;
  margin: 25px auto 1fr auto;
  padding:1rem;
}


::placeholder{
  font-family:var(--font);
  color:var(--grey);
  font-style:italic;
  font-size:12px;
}

#dropdown{
  width:200px;
  font-family:var(--font);
  color:var(--black);
  font-size:14px;
  font-style:bolder;
  margin-top:0.5rem;
}
.form-control{
  display:block;
  border-radius: .25rem;
  height:25px;
  border-width: 0px 1px 1px 0px;
  border-color:var(--black);
  text-indent:4px;
}
#form-button{
  margin-top:15px;
  color:var(--white);
  background: var(--darkgrey);
  border-radius: .5rem;
  height:40px;
}
#form-button:hover{
  color:var(--red);
  background:var(--white);
}

.list{
  font-family:var(--font);
  font-size:16px;
  color:var(--white);
  font-weight:normal;
  margin-left:5%;
  text-align:justify;
  margin-left:20px;
  margin-top:10px;
}

figure{
  float:auto;
  text-align: center;
  font-size: 14px;
  text-indent: 0;
  border: thin var(--grey) solid;
  padding: 1em;
  margin-bottom:50px;
  background: var(--black);

}

.joefield {
  display:flex;
  margin:1em;
  justify-self:center;
  max-height:400px;
  max-width:min(80vw,600px);
  margin-left:auto;
  margin-right:auto;
}

#bio-img{
  display:block;
  max-width:95%;
  max-height:95%;
  margin-left: auto;
  margin-right: auto;
}

.eos {
  display:flex;
  margin:1em;
  justify-self:center;
  max-width:min(80vw,600px);
  margin-left:auto;
  margin-right:auto;
}

#studio{
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width:95%;
  max-height:95%;
}

.img-caption{
  font-family:var(--font);
  color:var(--white);
  font-weight:normal;
  margin-top: 5px;
  text-align:center;
  margin-left: 0%;
  margin-right: 0%;
}
.thanks{
  font-family:var(--font);
  color: var(--white);
  display:block;
  font-size:20px;
  font-weight:200;
  text-align:justify;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:125px;
}
.email{
  font-family:var(--font);
  color:var(--white);
  display:block;
  font-size:20px;
  font-weight:200;
  text-align:justify;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:20px;
}
.email:hover{
  font-family:var(--font);
  color:var(--red);
  transition: 0.1s ease-in-out;
}

iframe{
  margin-left: 20vw;
  margin-right:20vw;
}

button{
  font-family: var(--font);
  text-align: center;
  display:-ms-grid;
  display:grid;
  background-color: var(--darkgrey);
  color:var(--white);
  border: none;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  font-weight:400;
  width:100%;
  z-index:1;
}  
    
button:hover{
    color:var(--red);
    cursor: pointer;
    border-style:none;
    transition: 0.2s ease-in-out;
    z-index:1;
}

fieldset{
  width:100%;
  margin-left:5%;
  margin-right:5%;
  border:none;
}

.big-heading{
  color:var(--white);
  font-family:var(--font);
  font-weight: 300;
  font-size:25px;
  padding-left:15px;
  margin-left:auto;
  margin-right:auto;

}
.list-head{
  font-family:var(--font);
  font-size:18px;
  color:var(--white);
  font-weight:600;
  padding-left:15px;
  padding-bottom:20px;
  padding-top: 25px;
  text-decoration: underline;
}
.paragraph{
  font-weight:300;
  font-size:16px;
  text-align: justify;
  text-indent:45px;
  min-width:75%;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  padding-top:15px;
}

.listpara{
  text-align:justify;
  width:100%;
  font-weight:300;
  font-size:14px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.container {  
  display:flex;
  flex-flow:row wrap;
  width:90vw;
  margin-left:auto;
  margin-right:auto;
  margin-top:140px;
}

.container > * {
  flex: 1 auto;
}

.about-me { 
  display:flexbox;
  justify-self:auto;
  margin:1em;
}

.students1 { 
  display:flexbox;
  padding-inline: 10px;
  justify-self:auto;
}

.students2 {
  display:flexbox;
  padding-inline: 10px; 
  justify-self:auto;
}


.indent{
  display:flexbox;
  position:relative;
  top: 0px;
}

input[type=email]{
  width: 40vw;
  padding: 12px 20px;
  color: red;
  box-sizing: border-box;
  margin: 8px 0;
}

input[type=submit]{
  color:var(--white);
  font-family: var(--font);
  background-color: var(--darkgrey);
  border: none;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  font-weight:400;
  width: 10vw;
  box-sizing: border-box;
  padding: 12px 20px;
}

input[type=submit]:hover{
  color:var(--red);
  cursor: pointer;
  border-style:none;
  transition: 0.2s ease-in-out;
}

#lessons{
  display:inline-block;
  font-family:var(--font);
  font-weight:600;
  color: var(--white);
}

table{
  table-layout:fixed;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid var(--white);
}

th,td{
border: 1px solid var(--white);
}

#table{
  display:inline-table;
  padding: 8px;
}

#table-head{
  font-size:22px;
}

#table-content{
  font-size:14px;
  font-weight:300;
}

.container-inq{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  font-family:var(--font);
}

#minutes{
  width: 100%;
  }

.indent {
  padding-top:125px;
} 

.content-head{
  display:flex;
  color:var(--white);
  font-family: var(--font);
  font-size:30px;
  padding:15px 0px;
  font-weight:100;
  text-transform:capitalize;
  max-width:800px;
  min-width:75%;
  margin-left:auto;
  margin-right:auto;
}

hr {
  display:block;
  align-self:center;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  overflow:auto;
  max-width:800px;
  min-width:75%;
}
iframe {
  padding-top:50px;
  margin-left:auto;
  margin-right:auto;
}

.recordings-container{
  display:grid;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.recordings-footer{
  font-size: 10px; 
  color:var(--white); 
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family:var(--font);
  font-weight: 200;
  text-decoration:none;
  margin-left:auto;
  margin-right:auto;
}