.title{
    color: rgb(020, 020, 020);
    column-count:auto;
    font-family: 'Raleway', sans-serif;
    background-color: #820000;
    font-weight: normal;
    font-size: 40px;
    text-align: left;
    min-height: 50px;
}
.subcaption{
    color: rgb(026, 026, 026);
    column-count:auto;
    font-family: 'Raleway', sans-serif;
    background-color: #820000;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    min-height: 20px;
}
h2 {
    color: whitesmoke;
    text-decoration: none;
    min-width: 100%;
}
.standard-text {
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-decoration: none;
  text-align:justify;
  margin-top: 10px;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;

}
body{
    background-color: rgb(026, 026, 026);
}
.button-grid{
  display:block;
  margin-left: 0%;
  margin-right: 0%;
}
button{
  background-color: #111111;
    color: whitesmoke;
    border: 1px solid #111111;
    font-size: 20px;
    padding: 15px 20px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-weight: lighter;
    text-align: center;
    transition: 0.1s ease-in-out;
    margin-left: -3px;
    margin-right:-3px;  
    
}
button:hover{
    background-color:#820000;
    border: 1px solid grey;
    cursor: pointer;
    border-style:solid;
    font-weight: lighter;
}
.home-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}
a:link{
    color: whitesmoke;
    text-decoration: none;
    text-decoration-color: none;
}

a:visited{
    color: whitesmoke;
    text-decoration: none;
    text-decoration-color: none;
}

p{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

footer{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 75px;
}
.headshots{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(720px, 0.5fr));
  grid-gap: 1rem;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  
}
#headshot-img{
  max-width: 90%;
  height: auto;
  object-fit:cover;
  transition: opacity 0.2s ease-in-out;
  opacity: 65%;
}

#headshot-img:hover{
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
}
.perf-list{
    color: whitesmoke;
    font-family:'Raleway', sans-serif;
    font-size: 50px;
    font-weight:bolder;

}
.events{
    color: grey;
    font-size: 20px;
    font-family:'Raleway', sans-serif;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 12px;
}
  #when {
    color:whitesmoke;
    border-bottom:1px solid whitesmoke;
    font-size:25px;
    grid-column: 1;
    grid-row: 1;
  }
  #group {
    color:whitesmoke;
    font-size:25px;
    border-bottom:1px solid whitesmoke;
    grid-column: 2;
    grid-row: 1;
  }
  #where {
    color:whitesmoke;
    font-size:25px;
    border-bottom:1px solid whitesmoke;
    grid-column: 3;
    grid-row: 1;
  }
  #tickets{
    color:whitesmoke;
    border-bottom:1px solid whitesmoke;
    font-size:25px;
      grid-column: 4;
      grid-row: 1;
  }
  #when-one {
    grid-column: 1;
    grid-row: 2;
  }
  #group-one {
    grid-column: 2;
    grid-row: 2;
  }
  #where-one {
    grid-column: 3;
    grid-row: 2;
  }
  #info-one {
    grid-column: 4;
    grid-row: 2;      
  }
  #when-two {
    grid-column: 1;
    grid-row: 3;
  }
  #group-two {
    grid-column: 2;
    grid-row: 3;
  }
  #where-two {
    grid-column: 3;
    grid-row: 3;
  }
  #info-two {
    grid-column: 4;
    grid-row: 3;      
  }
.footer{
  position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
}
#description{
  color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

#survey-form{
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
}
.form-group{
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  margin: 25px 1fr 1fr auto;
  padding:0.25rem;
}
#form-button{
  color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}


::placeholder{
  font-family: 'Raleway', sans-serif;
  color:rgb(100, 100, 100);
  font-style:italic;
}
#dropdown{
  font-family: 'Raleway', sans-serif;
  color:black;
  font-size:16px;
  font-style:bolder;
}
.form-control{
  display:block;
  border-radius: .25rem;
  border-width: 0px 1px 1px 0px;
  border-color:black;
}
#submit{
  color:whitesmoke;
  background: grey;
  border-radius: .5rem;
}
#submit:hover{
  color:red;
  background:white;
}
.big-heading{
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  margin-top:50px;
  margin-left: 0px;
  font-size:25px;
  margin-bottom:-20px;
}
.list-head{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-weight:bold;
  text-align:justify;
}
.paragraph{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-align:justify;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#list{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-weight:normal;
  margin-top: 5px;
  text-align:justify;
  margin-left: 0%;
  margin-right: 5%;
}

figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    float: right;
    min-width:40%;
    max-width:400px;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 1em;
    padding: 1em;
    background: black;
  }
#bio-img{
  display:block;
  width: 90%;  
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#img-caption{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-weight:normal;
  margin-top: 5px;
  text-align:center;
  margin-left: 0%;
  margin-right: 0%;
}