header{
  transition: width 1s ease-in-out;
  background-color: #820000;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  z-index:1;
}

.title{
    color: rgb(020, 020, 020);
    column-count:auto;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 40px;
    text-align: left;
    min-height: 50px;
    position:fixed;
    width:100%;
    top: 0;
    z-index:1;
}
#subcaption{
    color: rgb(026, 026, 026);
    column-count:auto;
    font-family: 'Raleway', sans-serif;
    background-color: #820000;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    min-height: 20px;
    position:fixed;
    width:100%;
    margin-bottom: 20px;
    z-index:1;
}
h2 {
    color: whitesmoke;
    text-decoration: none;
    min-width: 100%;
}

.standard-text {
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-decoration: none;
  text-align:justify;
  margin-top: 10px;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;

}


body{
    background-color: rgb(026, 026, 026);
    margin-top: 200px;
    margin-bottom: 20px;
}

.perf-list{
  margin-top: 20%;
    color: whitesmoke;
    font-family:'Raleway', sans-serif;
    font-size: 45px;
    font-weight:bolder;
}

.headshots{
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-gap: 1vw;
  margin-left:3vw;
  margin-right:3vw;
  margin-top:20vh;
  padding: 0;
}
#headshot-img{
  max-width: 100%;
  height: auto;
  margin:auto;
  transition: opacity 0.2s ease-in-out;
  opacity: 35%;
  border-radius:5px;
}

#headshot-img:hover{
  opacity: 100%;
  transition: opacity 0.4s ease-in-out;
}

button{
  text-align: center;
  display:inline-block;
  background-color: #111111;
  color: whitesmoke;
  border: 1px solid #111111;
  font-size: 18px;
  padding: 10px;
  width:14.2vw;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: lighter;
  transition: width 1s ease-in-out;
  z-index:1;
}  
    
button:hover{
    background-color:#820000;
    border: 1px solid grey;
    cursor: pointer;
    border-style:solid;
    font-weight: lighter;
    transition: 0.2s ease-in-out;
    z-index:1;
}

.button-grid{
  margin: 0 auto;
  display:grid;
  text-align:center;
  grid-gap: 0rem;
  position:fixed;
  top:65px;
  width:100%;
  z-index:1;
}

@media (min-width: 100px) {
  button {width: 50vw;}
  .button-grid { grid-template-columns: repeat(2, 0fr);}
}

@media (min-width: 600px) {
      button {width: 25vw;}
      .button-grid { grid-template-columns: repeat(4, 0fr);}
}

@media (min-width: 800px) {
      button {width: 14.2vw;}
      .button-grid { grid-template-columns: repeat(7, 0fr);}
  }
.home-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 90%;
    text-align: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

a:link{
    color: whitesmoke;
    text-decoration: none;
    text-decoration-color: none;
}

a:visited{
    color: whitesmoke;
    text-decoration: none;
    text-decoration-color: none;
}

p{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

footer{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 75px;
}

.events{
    color: grey;
    font-size: auto;
    font-family:'Raleway', sans-serif;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    grid-template-columns: repeat(2 1fr);
    gap: 12px;
    margin-top: 20px;
}
  #when {
    color:whitesmoke;
    border-bottom:1px solid whitesmoke;
    font-size:25px;
    grid-column: 1;
    grid-row: 1;
  }
  #group {
    color:whitesmoke;
    font-size:25px;
    border-bottom:1px solid whitesmoke;
    grid-column: 2;
    grid-row: 1;
  }
  #where {
    color:whitesmoke;
    font-size:25px;
    border-bottom:1px solid whitesmoke;
    grid-column: 3;
    grid-row: 1;
  }
  #tickets{
    color:whitesmoke;
    border-bottom:1px solid whitesmoke;
    font-size:25px;
      grid-column: 4;
      grid-row: 1;
  }
  #when-one {
    grid-column: 1;
    grid-row: 2;    
  }
  #group-one {
    grid-column: 2;
    grid-row: 2;
  }
  #where-one {
    grid-column: 3;
    grid-row: 2;
  }
  #info-one {
    grid-column: 4;
    grid-row: 2;      
  }
  #when-two {
    grid-column: 1;
    grid-row: 3;
  }
  #group-two {
    grid-column: 2;
    grid-row: 3;
  }
  #where-two {
    grid-column: 3;
    grid-row: 3;
  }
  #info-two {
    grid-column: 4;
    grid-row: 3;      
  }
.footer{
  position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
}
#description{
  color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

#survey-form{
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
}
.form-group{
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  margin: 25px auto 1fr auto;
  padding:0.25rem;
}
#form-button{
  color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}


::placeholder{
  font-family: 'Raleway', sans-serif;
  color:rgb(100, 100, 100);
  font-style:italic;
}
#dropdown{
  font-family: 'Raleway', sans-serif;
  color:black;
  font-size:16px;
  font-style:bolder;
}
.form-control{
  display:block;
  border-radius: .25rem;
  border-width: 0px 1px 1px 0px;
  border-color:black;
}
#form-button{
  color:whitesmoke;
  background: grey;
  border-radius: .5rem;
}
#form-button:hover{
  color:red;
  background:black;
}
#big-heading{
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  margin-top:20vh;
  margin-left: 0px;
  font-size:25px;
}
.list-head{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-weight:bold;
  text-align:justify;
}
.paragraph{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-align:justify;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#list{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-weight:normal;
  margin-top: 5px;
  text-align:justify;
  margin-left: 0%;
  margin-right: 5%;
}

figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    float: right;
    min-width:40%;
    max-width:400px;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 1em;
    padding: 1em;
    background: black;
  }
#bio-img{
  display:block;
  min-width: 50%;
  max-width: 39vw;  
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#img-caption{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  font-weight:normal;
  margin-top: 5px;
  text-align:center;
  margin-left: 0%;
  margin-right: 0%;
}
.thanks{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  display:block;
  font-size:5ex;
  text-align:justify;
  margin-left: 10%;
  margin-right: 10%;
}
.email{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  display:block;
  font-size:5ex;
  text-align:justify;
  margin-left: 10%;
  margin-right: 10%;
}
.email:hover{
  font-family: 'Raleway', sans-serif;
  color:#820000;
  font-weight:bold;
  transition: 0.1s ease-in-out;
}

iframe{
  margin-left: 20vw;
  margin-right:20vw;
}

